body {
  text-align: center;
  font-family: "Spectral SC", serif;
  background-image: url("../images/pexels-photo-269633.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
	background-attachment: fixed;
  color: cornsilk;
}

select {
  width: 70%;
  height: 5em;
  background-color: cornsilk;
  font-size: 1em;
}

h1 {
  font-size: 8em;
}

h3, h6 {
  font-size: 3em;
}
