body {
  text-align: center;
  font-family: "Spectral SC", serif;
  background-image: url("../images/pexels-photo-269633.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
	background-attachment: fixed;
  color: cornsilk;
}

select {
  width: 70%;
  height: 5em;
  background-color: cornsilk;
  font-size: 1em;
  color: rgb(80, 80, 80);
}

h1 {
  font-size: 8em;
  /*margin-top: 2em;*/
}

#results-common {
  font-size: 2em;
  background-color: rgba(255, 0, 0, 0.8);
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  color: white;
}

.link-info {
  font-size: 1em;
  background-color: rgba(228, 172, 98, 0.8);
  width: 60%;
  margin: 0 auto;
  margin-top: 3em;
  padding: 2em;
  color: black;
}

a {
  text-decoration: none;
}

.about-us {
  font-size: 2em;
  background-color: rgba(228, 172, 98, 0.8);
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em;
  color: black;
}

/*.site-header {
  background-color: #FFEAAA;
}

.site-header ul li {
  list-style: none;
  display: inline-block;
  display: none;
}*/
