body {
  text-align: center;
  font-family: "Spectral SC", serif;
  background-image: url("../images/pexels-photo-269633.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
	background-attachment: fixed;
  color: cornsilk;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

select {
  width: 70%;
  height: 5em;
  background-color: cornsilk;
  font-size: 1em;
  color: rgb(80, 80, 80);
}

h1 {
  font-size: 10vw;
  padding: 0.3em;
  margin: 0.3em 0.25em;
  text-align: center;
}

h3 {
  margin: 20px 0;
}

span {
  font-weight: 800;
  text-decoration: underline;
}

#link-info li {
  background-color: cornsilk;
  color: black;
  width: 70%;
  margin: 0 auto;
  padding: 0.5em;
}

.our-mission {
  background-color: cornsilk;
  color: darkSlateGray;
  font-style: italic;
  font-size: 2em;
  width: 60%;
  padding: 1em;
  margin: 0 auto;
}

.about-us {
  font-size: 2em;
  background-color: rgba(255, 0, 0, 0.8);
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em;
  color: black;
}

.about-us p {
  margin-bottom: 0.5em;
}
