@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wfb79s');
	src:url('fonts/icomoon.eot?wfb79s#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?wfb79s') format('truetype'),
		url('fonts/icomoon.woff?wfb79s') format('woff'),
		url('fonts/icomoon.svg?wfb79s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e908";
}
.icon-home3:before {
	content: "\e900";
}
.icon-address-book:before {
	content: "\e901";
}
.icon-rocket:before {
	content: "\e909";
}
.icon-power:before {
	content: "\e90a";
}
.icon-menu:before {
	content: "\e902";
}
.icon-link:before {
	content: "\e903";
}
.icon-happy:before {
	content: "\e904";
}
.icon-happy2:before {
	content: "\e905";
}
.icon-plus:before {
	content: "\e90b";
}
.icon-minus:before {
	content: "\e90c";
}
.icon-cross:before {
	content: "\e90d";
}
.icon-checkmark:before {
	content: "\e90e";
}
.icon-twitter3:before {
	content: "\e906";
}
.icon-github:before {
	content: "\e907";
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 10px;
}

.fa:hover {
  opacity: 0.6;
  }

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  }

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}

footer {
  clear: both;
}

footer nav {
  margin: 0 auto 10px;
  width: 700px;
}

footer ul {
  margin: 10 auto;
}

footer ul li {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

footer ul li:first-child {
  margin-right: 10px;
}
