.flag-text {
  margin-left: 10px;
}

.icon-menu {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  font-size:11vw;
}
.main-nav {
  height: 13vw;
}
.main-nav h1 {
  font-size: 7vw;
  text-align: center;
  padding-top: 2.2vw;
}
.main-nav ul {
  position: relative;
  z-index: 1;
  padding: 0;
  list-style: none;
  clear: both;
  /*background-color: #baddad;*/
}
.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  /*border-bottom: 1px solid #ccc;*/
}
.hide-nav {
  display: none;
}
