/*Mobile View*/

.icon-menu {
  font-size: 5em;
  float: center;
}

#country-list {
  clear: both;
  margin-bottom: 20px;
}

#home, #about {
  color: cornsilk;
  padding: 0.5em;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin: 0.8em 0;
  font-size: 1.5em;
  padding: 0.4em 0;
  border: 2px solid #ccc;
  background-color: black;
  width: 100%;
}
.main-nav li:hover {
  background-color: darkSlateGray;
  color: white;
}

#gmap {
  margin: 0 auto;
  display: inline-block;
  border-radius: 10px;
  width: 52%;
  margin-top: 15px;
}

#results-common, #category-results {
  font-size: 0.8em;
  background-color: cornsilk;
  padding: 1em;
  border-radius: 10px;
  color: black;
  display: inline-block;
  width: 45%;
  margin-top: 15px;
}

/*Desktop View*/
@media only screen and (min-width: 640px) {
  .icon-menu:before {
    display: none;
  }

  .main-nav {
    padding: 0.1em;
  }

  .main-nav ul {
    display: inline-block;
    padding: 1em;
  }

  .main-nav li {
    width: 7em;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 1em 2em;
    border: 2px solid #ccc;
    background-color: black;
  }

  .main-nav li:hover {
    background-color: darkSlateGray;
    color: white;
    width: 7em;
  }

  #gmap {
    margin: 15px 10px 0 20px;
    border: 5px solid darkSlateGray;
    display: inline-block;
    float: left;
    border-radius: 10px;
    width: 45%;
  }

  #results-common, #category-results {
    font-size: 2em;
    background-color: cornsilk;
    padding: 1em;
    border: 5px solid darkSlateGray;
    border-radius: 10px;
    color: black;
    display: inline-block;
    width: 45%;
    margin-top: 15px;
  }

  #loadingDiv {
    max-width: 40%;
  }


=======
  footer nav {
    display: inline-block;
    padding: 1em;
  }
